body {
  font-family: 'Gaegu', cursive;
  background-color: rgb(9, 57, 9);
  color: white;
}


.title {
  display: grid;
  font-size: 3em;
  text-align: center;
}

#letters {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-size: 3em;
  color: white;
  text-align: center;
}

.letter {
  cursor: pointer;
  justify-self: center;
  transition: 0.5s;
}

.letter:hover{
  color: orange;
  transform: scale(1.5);
  transition-timing-function: ease-in-out;
}

#wrapper {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 3fr;
  column-gap: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px;
}

#svg-container {
  display: flex;
  align-items: flex-end;
}

.svg-container-animation {
  -webkit-animation: svg-animation 3s ease-in-out;
  animation: svg-animation 3s ease-in-out;
}

@keyframes svg-animation {
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.1,1.1);
  }
  100% {
    transform: scale(1,1);
  }
}

.word-container {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-template-rows: 1fr 1fr 1fr;
}

#speech-container {
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: center;
  text-align: center;
}

#speech-icon {
  visibility: hidden;
}

#word{
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 4em;
  text-align: center;
  align-self: center;
  transition: 1s;
}

#word span {
  display: inline-block;
  border-bottom: 5px solid white;
  margin-right: 4%;
  vertical-align: bottom;
  width: 0.5em;
  height: 69px;
  transition-timing-function: ease-in;
  /* max-width: 1em; */
}


#play-again{
  visibility: hidden;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: end;
  align-self: end;
  font-size: 4em;
  transition-timing-function: ease-in;
  transition: 1s;
  cursor: pointer;
  margin-right: 15px;
}

#head,
#body,
#left-arm,
#left-leg,
#left-eye,
#right-arm,
#right-leg,
#right-eye,
#mouth {
  display: none;
}

#head {
  stroke-dasharray: 638.2032470703125;
  stroke-dashoffset: 638.2032470703125;
  -webkit-animation: hangman-animation 1s linear forwards;
  animation: hangman-animation 1s linear forwards;
}

#body {
  stroke-dasharray: 321.0829772949219;
  stroke-dashoffset: 321.0829772949219;
  -webkit-animation: hangman-animation 1s linear forwards;
  animation: hangman-animation 1s linear forwards;
}

#left-arm {
  stroke-dasharray: 169.3226318359375;
  stroke-dashoffset: 169.3226318359375;
  -webkit-animation: hangman-animation 1s linear forwards;
  animation: hangman-animation 1s linear forwards;
}

#right-arm {
  stroke-dasharray: 170.7257080078125;
  stroke-dashoffset: 170.7257080078125;
  -webkit-animation: hangman-animation 1s linear forwards;
  animation: hangman-animation 1s linear forwards;
}

#right-leg {
  stroke-dasharray: 256.4714660644531;
  stroke-dashoffset: 256.4714660644531;
  -webkit-animation: hangman-animation 1s linear forwards;
  animation: hangman-animation 1s linear forwards;
}

#left-leg {
  stroke-dasharray: 256.4714660644531;
  stroke-dashoffset: 256.4714660644531;
  -webkit-animation: hangman-animation 1s linear forwards;
  animation: hangman-animation 1s linear forwards;
}

#left-eye {
  stroke-dasharray: 54.6486701965332;
  stroke-dashoffset: 54.6486701965332;
  -webkit-animation: hangman-animation 1s linear forwards;
  animation: hangman-animation 1s linear forwards;
}

#right-eye {
  stroke-dasharray: 54.6486701965332;
  stroke-dashoffset: 54.6486701965332;
  -webkit-animation: hangman-animation 1s linear forwards;
  animation: hangman-animation 1s linear forwards;
}

@keyframes hangman-animation {
  to {
    stroke-dashoffset: 0;
  }
}

@media (min-width: 768px) {
  #word {
    font-size: 7em;
  }

  #word span{
    height: 117px;
  }
}
